*.log
.idea/workspace.xml
.idea/
__pycache__/
.vscode/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
*knn_classes.py
*Feature engineer & Feature Selection (unfinished).ipynb
*4 - Model Building (unfinished).ipynb
*.pdf
*draft.py